
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;0,900;1,800;1,900&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');



 
/* nav styles section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    padding-right:100px ;

}
nav li{
   list-style: none;
   
   padding-right:20px ;
   margin-left: 20px;
}
nav a{
    text-decoration: none;
}
.span-description{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;

}
#a-color{
    color:  #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;

}
.img-title{
    width: 60px;
    height: 56.008px;
    flex-shrink: 0;
    padding-top: 10px;
}
.header-title{
    display: flex;
    width: 300px;
    margin-left: 100px;
    
}
.description{
    padding-left: 15px;
}
.unity-title{
    color: #131318;

    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}
.travel-title{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.header-bg{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0)),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1147px;
    height: 500px;
    padding-left: 50px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px;
    margin: auto;
}
.Explore-title{
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
   
}
.explore-head{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.explore-description{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.form-title{
    
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin:45px 190px 150px 190px ;

}
#input-title{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    padding-left: 15px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}
.btn-primary{
   
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
/* Main styles section */
.first-body-title{
    margin-top: 24px;
}
#body-section{
    
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.first-body{
    
    margin: 100px 100px  ;
    display: flex;
}
.photo-title{
    text-align: center;
    gap: 24px;
}
.header-second{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}

.header-second-title{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.maldi{
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;

}

.maldi-title{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
padding-top: 110px;
font-weight: 800;


}
.indon{
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.indon-title{
    
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
padding-top: 110px;
font-weight: 800;
}

.gallery-item{
    display: flex;
    gap: 24px;
    width: 1100px;
    margin-left: 100px;
}
.srilan{
    background-image: url('../Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    flex-shrink: 0;
}
.srilan-title{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
padding-top: 110px;
font-weight: 800;
}
.north{
    background-image: url('../Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    flex-shrink: 0;
}
.north-title{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
padding-top: 110px;
font-weight: 800;
}
.kash{
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 274px;
height: 286px;
flex-shrink: 0;
}
.kash-title{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
padding-top: 110px;
font-weight: 800;
}
.second-gallery{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 825px;
    padding-right: 350px;
    margin-left: 100px;
}
.bang{
    background-image: url('../Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    width:500px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
}
.bang-title{
    width: 450px;
    border-radius: 16px;
    padding-top: 110px;
height: 300px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
}
.bandar{
    background-image: url('../Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    width: 700px;
    height: 300px;
    flex-shrink: 0;
    
}
.bandar-title{
    width: 100px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding-left: 250px;
    margin-top: 120px;

}
.third-gallery{
    width: 1200px;
    height: 300px;
    display: flex;
    margin: 10px 125px 0px 100px;
    gap: 5px;
    
}

.choose-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.choose-item{
    margin-top: 100px;
    gap: 24px;
}
.other-title{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-top: 20px;
    padding-left: 20px;
}
.hotel-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.hotel-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.map-title{
    width: 573px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding-left: 20px;
}
.map-item{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.map-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.other-section{
    width: 1200px;
    display: flex;
    gap: 24px;
    margin: 50px 200px 0px 100px ;
}

.best-item{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
}
.best-price-description{
color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.best-price{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 400px;
margin-top: 24px;
padding-left: 20px;
padding-top: 20px;
}
.last-form{
    display: flex;
    margin-left: 100px;
    gap: 24px;
    margin-top: 100px;
}
.save-offer{
    gap: 5px;
    border-radius: 16px;
background: #FF5400;
width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
margin: 250px 0.40px 0.14px 327px;
}

.travel-item{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    
}
.save-up{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
#text-title{
    padding-left: 10px;
    border: none;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 10px;
}
#sub{
    border: none;
    margin-top: 10px;
    width: 400px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.form-section{
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-top: 20px;
    padding-left: 70px;
}
.form-section-head{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.form-section-description{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.last-form-description{
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    width: 662px;
height: 423px;
flex-shrink: 0;
border-radius: 16px;
margin-top: 5px;
}

.hidden{
    color: white;
    font-size: 45px;
    border-radius: 10px;

}
.hidden:hover{
    width: 700px;
    color:blueviolet;
    background-color: pink;
    box-shadow: 10px 20px 20px;
    
}
/* footer styles section */
.bg-item{
    
    background: rgba(19, 19, 24, 0.05);
    width: 1520px;
height: 502px;
flex-shrink: 0;
margin-top: 100px;
}

.icon-title{
    display: flex;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    
}

.icon-description{
    width: 40px;
    height: 46.673px;
    flex-shrink: 0;
    padding-top: 15px;
}
.last-icon-description{
    padding-left: 15px;
}
.last-unity-title{
    color:  #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
    }
.last-travel-title{
    color: #FF5400;
font-family: Mulish;
font-size: 30px;
font-weight: 800;
}
.last-description{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.social-item{
    
    margin: auto;
    width: 174.322px;
height: 24px;
}
#social-icon{
justify-content: space-evenly;
padding-left: 10px;
}
.hr-title{
    margin-top: 50px;
    width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
}
.copy-title{
    margin: 50px 60px 620px 100px;
    
}
.copyright-description{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
}